<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
<script src="https://cdn.auth0.com/js/lock-7.5.js"></script>
<script type="text/javascript" src="//use.typekit.net/iws6ohy.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href="/public/stylesheets/style.css" rel="stylesheet">
<script src="/public/slider.js"> </script>
