<html>
<head>
{% include "MetaSet.html" %}
{% include "BsAndJq.html" %}

{% if user.isVisitor %}
{% include "LoginSet.html" %}
{% endif %}
</head>
<body class="home">

{% include "Nav.html" %}

<div class="overview">
    <div id="maCemeteryOverview">
        <div class="container">
            <h2>Lost Battalion Site</h2>
            <br>
            <p>The Lost Battalion is the name given to nine companies of the United States 77th Division, roughly 554 men, isolated by German forces during World War I after an American attack in the Argonne Forest in October 1918. Roughly 197 were killed in action and approximately 150 missing or taken prisoner before 194 remaining men were rescued. </p>   
            <br>
            <center><img src="/public/images/pics/ps5.jpg" class="img-responsive"/></center>
            <br>
	    <p>The battalion suffered many hardships. Food was short, and water was available only by crawling under fire to a nearby stream. Ammunition ran low. Communications were also a problem, and at times they would be bombarded by shells from their own artillery. As every runner dispatched by Whittlesey either became lost or ran into German patrols, carrier pigeons became the only method of communicating with headquarters. In a famous incident on 4 October, inaccurate coordinates were delivered by one of the pigeons and the unit was subjected to "friendly fire". The unit was saved by another pigeon, Cher Ami, delivering the following message: WE ARE ALONG THE ROAD PARALELL 276.4. OUR ARTILLERY IS DROPPING A BARRAGE DIRECTLY ON US. FOR HEAVENS SAKE STOP IT.</p>
	    <br>
	    <center><img src="/public/images/pics/ps5_2.jpg" class="img-responsive"/></center>
	    <br>
	    <p>Part of the rescue effort was Sergeant York, was one of the most decorated American soldiers in World War I. He received the Medal of Honor for leading an attack on a German machine gun nest, taking 32 machine guns, killing 20 German soldiers, and capturing 132 others.</p>
	    <br>
	    <center><img src="/public/images/pics/ps5_3.jpg" class="img-responsive"/></center>
        </div>
    </div>
        
    </div>
    <br><br><br>
</div>

    </body>
</html>
