<html>
<head>
{% include "MetaSet.html" %}
{% include "BsAndJq.html" %}

{% if user.isVisitor %}
{% include "LoginSet.html" %}
{% endif %}

</head>
<body class="home">
{% include "Nav.html" %}

<div class="overview">
    <div id="maCemeteryOverview">
        <div class="container">
            <h2>Montfaucon</h2>
            <br>
            <p>Montfaucon was a critical point along the German lines of defense due to its height and advantages for observation. Its fortifications included trenches to the south, east, and west. The hill itself was organized with trenches and machine gun emplacements. The American Expeditionary Forces planned to drive deep salients (a salient being an area pushed into the enemy's defensive line) across the German lines on either side of the hill. This would cause the german garrison to evacuate and allow American troops to capture the hill with minimal oppisition.</p>
            <br><center><img src="/public/images/pics/ps1_1.jpg" class="img-responsive"/></center>
	    <br><p>After fierece fighting the 79th division of V Corps captured Montfaucon on the second day of the offensive, 27 September 1918.</p>
            <br><center><img src="/public/images/pics/ps1_2.jpg" class="img-responsive"/></center>
	    <br><p>Today the Montfaucon American Monument stands on the site of the German strong point. The monument was dedicated in 1937. It is a massive granite Doric column, surmounted by a statue symbolic of Liberty. It towers more than 200 feet above the hill and the war ruins of the village around it. Ruins of a nearby church and the destroyed German defensive positions can be seen near the monument.</p>
            <br><center><img src="/public/images/pics/ps1_3.jpg" class="img-responsive"/></center>
        </div>
    </div>
        
    </div>
    <br><br><br>
</div>

    </body>
</html>
