<div class="overview">

	<div id="Content">
		<div class="container">
        	<h1>Contents</h1>
        	<ul>
        		<li><a href="#AboutApp">About the App</a></li>
        		<li>The last months of WWI: July-Nov, 1918</li>
        			<ul>
        				<li><a href="#maCemeteryOverview">Meuse-Argonne Cemetery</a></li>
        				<li>Croix Rouge Farm Memorial</li>
        			</ul>
        		<li><a href="#wwihistory">More on the history of WWI</a></li>
        	</ul>
        	<hr>
		</div>
	</div>

	<div id = "AboutApp">
		<div class="container">
        	<h3>About the App</h3>
        	<p>US (especially AL and GA) was heavily involved in the last few months of WWI happening on the boarders of France and Germany. US soldiers sacrificed their lives fighting the key battles which eventually led to the victory of the Allies and the ending of the war.</p>
			<p>To remember the lives of those US soldiers, Meuse-Argonne Cemetery and Croix Rough Farm Memorial have been established on where those battles took place in France.</p>
			<p>We also developed a (mobile) web application to accompany the above physical memorial sites and help people better remember the history.</p>
        	</p>
        	The value we (currently) provide for them are:
        	<ul>
	        	<li>A source for general information about the last few month of WWI and the physical memorials;</li>
				<li>A platform to let people share stories, and interact stories with location, comments, likes and social networking site;</li>
				<li>A map to navigate the memorial sites, displaying location-based stories, creating stories on location, and customize tour;</li>
				<li>An archive where you search for people, read stories about people, create records (stories) for people;</li>
				<li>A management system where you manage stories you told and customized tours.</li>
			</ul>
			<hr>
		</div>
	</div>
    <div>
        <div class="container">
	        <h3>The last months of WWI: July-Nov, 1918</h3>
	        <div id="maCemeteryOverview">
	            <h4>Meuse-Argonne Cemetery Overview</h4>
	            <p>Within the Meuse-Argonne American Cemetery and Memorial in France, which covers 130.5 acres, rest the largest number of our military dead in Europe, a total of 14,246. Most of those buried here lost their lives during the Meuse-Argonne Offensive of World War I. The immense array of headstones rises in long regular rows upward beyond a wide central pool to the chapel that crowns the ridge. A beautiful bronze screen separates the chapel foyer from the interior, which is decorated with stained-glass windows portraying American unit insignia; behind the altar are flags of the principal Allied nations.</p>
	            
	            <p>On either side of the chapel are memorial loggias. One panel of the west loggia contains a map of the Meuse-Argonne Offensive. Inscribed on the remaining panels of both loggias are Tablets of the Missing with 954 names, including those from the U.S. expedition to northern Russia in 1918-1919. Rosettes mark the names of those since recovered and identified.</p>
	            
	            <center><img src="public/images/pics/M-A.jpg" class="img-responsive"/></center>
            </div>
            <hr>    
        </div>
    </div>
    <div id="wwihistory">
        <div class="container">
        	<h3>More on WWI History</h3>
        	<div>
        		<h4>BBC Documentory</h4>
	        	<div>
	            	<center><iframe width="560" height="315" src="https://www.youtube.com/embed/qrCMFu-Drwo" frameborder="0" allowfullscreen></iframe>
	        	</div>
        	</div>

        	<div>
        		<h4>Links</h4>
        		<a href="http://croixrougefarm.org/">Croix Rouge Farm Memorial</a><br>
        		<a href="https://www.abmc.gov/">American Battle Monument Commission</a>
        	</div>
        </div>
    </div>
    <br><br><br>
</div>