<div class="overview">
    <div id="maCemeteryOverview">
        <div class="container">
            <h2>Meuse-Argonne Cemetery Overview</h2>
            <br>
            <p>Within the Meuse-Argonne American Cemetery and Memorial in France, which covers 130.5 acres, rest the largest number of our military dead in Europe, a total of 14,246. Most of those buried here lost their lives during the Meuse-Argonne Offensive of World War I. The immense array of headstones rises in long regular rows upward beyond a wide central pool to the chapel that crowns the ridge. A beautiful bronze screen separates the chapel foyer from the interior, which is decorated with stained-glass windows portraying American unit insignia; behind the altar are flags of the principal Allied nations.</p>
            
            <p>On either side of the chapel are memorial loggias. One panel of the west loggia contains a map of the Meuse-Argonne Offensive. Inscribed on the remaining panels of both loggias are Tablets of the Missing with 954 names, including those from the U.S. expedition to northern Russia in 1918-1919. Rosettes mark the names of those since recovered and identified.</p>
            
            <center><img src="public/images/pics/M-A.jpg" class="img-responsive"/></center>
        </div>
    </div>
        
    <div id="wwihistory">
        <div class="container">
            <h2>WWI History</h2>
            <br>
            <!--<div class="embed-responsive embed-responsive-4by3">-->
                <center><iframe width="560" height="315" src="https://www.youtube.com/embed/qrCMFu-Drwo" frameborder="0" allowfullscreen></iframe>
            <!--</div>-->
        </div>
    </div>
    <br><br><br>
</div>